.button_container {
    @include unique-style(500, 12px, 13.8px, $light-color);
    @include upperCase();
    padding: .625rem 1.25rem;
    width: fit-content;
    border: none;
    border-radius: .3125rem;

    &:hover {
        cursor: pointer;
    }
}

.primary_button {
    background-color: $primary-button-color;
    transition: background-color .5s ease;

    &:hover {
        background-color: $primary-button-hover;
    }
}

.secondary_button {
    background-color: $secondary-button-color;
    transition: background-color .5s ease;

    &:hover {
        background-color: $secondary-button-hover;
    }
}

.showcase_button {
    background-color: $secondary-button-off-color;
    border-radius: 1.25rem;
}

/* CONSTANTS */

.mt_10 {
    margin-top: .625rem;
}

.mt_16 {
    margin-top: 1rem;
}

.pad_x_39 {
    padding-left:2.4375rem;
    padding-right: 2.4375rem;
}